<table class="table">
    <thead>
      <tr >
        <th scope="col">id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">emp dob</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">61646be504a00d36c81148f6</th>
        <td>komali</td>
        <td>pyla</td>
        <td>1995-10-16T21:54:00.000+0000</td>
      </tr>
      <tr>
        <th scope="row">21646be504a00d36c81148f6</th>
        <td>raj</td>
        <td>pyla</td>
        <td>1995-10-16T21:54:00.000+0000</td>
      </tr>
      <tr>
        <th scope="row">61646be504a00d36c81148f6</th>
        <td>kavya</td>
        <td> pyla</td>
        <td>1995-10-16T21:54:00.000+0000</td>
      </tr>
    </tbody>
  </table>